.vrc.vrc-calendar {

}
.vrc.vrc-calendar .calendar-page {
    padding-right: 1px;
}
.vrc.vrc-calendar .calendar-month-container .calendar-month-name {
    text-align: center;
}
.vrc.vrc-calendar .calendar-month-container table {
    margin: 0;
}
.vrc.vrc-calendar .calendar-month-container table,
.vrc.vrc-calendar .calendar-month-container table tr,
.vrc.vrc-calendar .calendar-month-container table tr td{
    border:none;
}
.vrc.vrc-calendar.vrc-calendar-small * {
    font-size: 11px;
}
.vrc.vrc-calendar.vrc-calendar-medium * {
    font-size: 13px;
}
.vrc.vrc-calendar.vrc-calendar-large * {
    font-size: 15px;
}
#vrc-booking-form-wrapper {
    border:1px solid #dedede;
}
#vrc-booking-form-wrapper .booking-heading,
#booking-form-fields,
#booking-form-action{
    padding: 10px;
}
#vrc-booking-form-wrapper .booking-heading {
    background: #4f5152;
    color:#fff;
    font-size: 18px;
}

#vrc-booking-form-wrapper .booking-heading .pull-right {
    font-size: 14px;
    line-height: 28px;
}
#booking-form-charges .border-top{
    border-top: 1px solid #dedede;
}
#vrc-payment-error {
    padding: 15px;
    margin: 10px 0;
}
#ui-datepicker-div {
    display: none;
}